


<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Publicar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Título -->
  <ion-list>
    <ion-item lines="none">
      <ion-label class="title-label">¿Qué deseas publicar?</ion-label>
    </ion-item>
  </ion-list>

  <!-- Opciones -->
  <ion-grid>
    <ion-row>
      <!-- Producto -->
      <ion-col size="12">
        <ion-card button class="custom-card" (click)="navigateTo('publicar')">
          <ion-card-content class="card-content">
            <ion-icon name="cube" class="card-icon"></ion-icon>
            <ion-label class="card-label">Productos</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Servicio -->
      <ion-col size="12">
        <ion-card button class="custom-card"  (click)="navigateTo('publicar')">
          <ion-card-content class="card-content">
            <ion-icon name="cog" class="card-icon"></ion-icon>
            <ion-label class="card-label">Servicios</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="fixed-toolbar">
    <!-- Tabs -->
    <div class="fixed-tabs">
      <!-- Tab: Inicio -->
      <div
        class="tab-item"
        [class.active]="currentRoute === 'home'"
        (click)="navigateTo('home')"
      >
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </div>

      <!-- Tab: Tienda -->
      <div
        class="tab-item"
        [class.active]="currentRoute === 'tienda'"
        (click)="navigateTo('tienda')"
      >
        <ion-icon name="storefront-outline"></ion-icon>
        <ion-label>Tienda</ion-label>
      </div>

      <!-- Tab: Notificaciones -->
      <div
        class="tab-item"
        [class.active]="currentRoute === 'notificaciones'"
        (click)="navigateTo('notificaciones')"
      >
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </div>

      <!-- Tab: Configuración -->
      <div
        class="tab-item"
        [class.active]="currentRoute === 'mi-cuenta'"
        (click)="navigateTo('mi-cuenta')"
      >
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Más</ion-label>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
