:host {

      --ion-background-color:#ebebeb;
}

  .custom-toolbar {
    --background: #6a1b9a;
    color: #fff;
  }




// footer
.fixed-toolbar {
  --background: #fff;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.fixed-tabs {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
  width: 100%;
  height: 100%; /* Asegura que ocupe todo el footer */
}

.tab-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333; /* Texto e icono en gris oscuro */
  font-size: 12px;
  cursor: pointer;
  width: 100%; /* Ocupa el ancho completo */
  height: 100%; /* Hace que sean cuadrados */
  transition: all 0.3s ease;
  border-radius: 0; /* Elimina bordes redondeados para un diseño limpio */

  ion-icon {
    font-size: 24px;
    margin-bottom: 4px;
    color: #333; /* Iconos en gris oscuro */
    transition: color 0.3s ease;
  }

  ion-label {
    color: #333;
    transition: color 0.3s ease;
  }

  &:hover {
    background-color: rgba(74, 0, 142, 0.1); /* Fondo suave al pasar el cursor */
    transform: scale(1.05); /* Ligero aumento */
  }

  &.active {
    background-color: rgba(74, 0, 142, 0.5); /* Fondo violeta más evidente */
    color: #fff; /* Texto e iconos en blanco para contraste */
    padding: 10px;
    ion-icon {
      color: #fff; /* Icono en blanco */
    }
    ion-label {
      font-weight: bold;
    }

    /* Indicador visual */
    &:after {
      content: '';
      display: block;
      width: 100%; /* Indicador cubre todo el botón */
      height: 3px;
      background-color: #4a008e;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}


/* Título principal */
.title-label {
  font-size: 16px;
  font-weight: bold;
  margin: 15px;
  color: #333;
}

/* Tarjetas personalizadas */
.custom-card {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  height: 100px; /* Igual al tamaño de las tarjetas en la imagen */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.custom-card:hover {
  transform: scale(1.05);
}

/* Contenido de la tarjeta */
.card-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

/* Íconos grandes */
.card-icon {
  font-size: 60px;
  color: #673ab7;
  margin-right: 15px; /* Espacio entre ícono y texto */
}

/* Etiquetas grandes */
.card-label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

/* Separador opcional si deseas más espacio entre filas */
.spacer {
  height: 20px;
}
