<ion-header>
  <ion-toolbar class="custom-toolbar">
   <ion-buttons slot="start">
  <ion-back-button defaultHref="/" class="custom-back-button" text=""></ion-back-button>
</ion-buttons>

    <ion-title class="ion-text-center">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-content">
  <div class="logo-container">
    <img src="../../../assets/icon/LOGO PNG (1).png" alt="Mercado Libre" class="logo" />
  </div>

  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Bienvenido</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- <form #loginForm="ngForm" (ngSubmit)="login()">
        <ion-item class="custom-item">
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" name="email" [(ngModel)]="email" required></ion-input>
        </ion-item>

        <ion-item class="custom-item">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" name="password" [(ngModel)]="password" required></ion-input>
        </ion-item>

        <ion-button
          expand="full"
          type="submit"
          [disabled]="!loginForm.form.valid"
          class="custom-button">
          Continuar
        </ion-button>
      </form>

      <div class="divider">O</div> -->

     <div class="google-button" (click)="loginWithGoogle()">
  <img src="../../../assets/icon/google.jpeg" alt="Google" class="google-icon" />
  <span>Iniciar sesión con Google</span>
</div>


      <p class="ion-text-center register-link" (click)="navigateToRegister()">
        ¿No tienes cuenta? <strong>Regístrate</strong>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>


