<!-- <ion-header>
  <ion-toolbar class="custom-toolbar">
    <div class="search-container">
      <ion-back-button defaultHref="/" class="custom-back-button" text=""></ion-back-button>
      <ion-icon name="search" class="icon-search"></ion-icon>
      <ion-input placeholder="Buscar producto o servicio"></ion-input>
    </div>

    <ion-icon name="cart-outline" class="icon-cart"></ion-icon>
    <p class="address-text">Dirección</p>
  </ion-toolbar>
</ion-header>
 -->


<ion-header>
  <ion-toolbar class="custom-toolbar">
    <div class="search-cart-container">
      <div class="search-container">
        <ion-icon name="search" class="icon-search"></ion-icon>
        <ion-input placeholder="Buscar producto o servicio"></ion-input>
      </div>
      <ion-icon name="cart-outline" class="icon-cart"></ion-icon>
    </div>
  <p class="address-text">Acá iría la dirección</p>

  </ion-toolbar>
</ion-header>




<ion-content>
  <!-- <ion-grid> -->


<ion-toolbar style="border-bottom: 1px solid #ccc;">
  <ion-grid>
    <ion-row class="filters-row">
      <ion-col size="auto">
        <ion-button fill="clear" class="filter-button">
          Categorías <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button fill="clear" class="filter-button">
          Marca <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button fill="clear" class="filter-button">
          Ordenar por <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button fill="clear" class="filter-button">
          Precio <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button fill="clear" class="filter-button">
          <ion-icon name="funnel-outline"></ion-icon> Filtros
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>




<!--

    <ion-row>
      <ion-col >
        <ion-card>
          <img src="../../../assets/icon/rueda-removebg-preview.png" alt="Cubierta Fate Sentiva">
          <ion-card-content>
            <h2>Cubierta Fate Sentiva 195 65 15</h2>
            <p>
              <span class="price">$120.000</span>
              <span class="discount">30% OFF</span>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card>
          <img src="../../../assets/icon/rueda-removebg-preview.png"alt="Cubierta Pirelli">
          <ion-card-content>
            <h2>Cubierta Pirelli 205 55 16</h2>
            <p>
              <span class="price">$150.000</span>
              <span class="discount">20% OFF</span>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card>
          <img src="../../../assets/icon/rueda-removebg-preview.png" alt="Cubierta Bridgestone">
          <ion-card-content>
            <h2>Cubierta Bridgestone 185 60 14</h2>
            <p>
              <span class="price">$100.000</span>
              <span class="discount">25% OFF</span>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="../../../assets/icon/rueda-removebg-preview.png" alt="Cubierta Michelin">
          <ion-card-content>
            <h2>Cubierta Michelin 225 50 17</h2>
            <p>
              <span class="price">$200.000</span>
              <span class="discount">15% OFF</span>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> -->







<div class="product-grid">
  <div class="product-card">
    <div class="product-image" (click)="goToDetail()">
      <img src="../../../assets/icon/rueda-removebg-preview.png" alt="Cubierta Fate Sentiva">
    </div>
    <h2 class="product-title">Cubierta Fate Sentiva 195 65 15</h2>
    <div class="product-pricing">
      <p class="price">$120.000</p>
      <p class="discount">30% OFF</p>
    </div>
  </div>
  <div class="product-card">
    <div class="product-image" (click)="goToDetail()">
      <img src="../../../assets/icon/rueda-removebg-preview.png" alt="Cubierta Pirelli">
    </div>
    <h2 class="product-title">Cubierta Pirelli 205 55 16</h2>
    <div class="product-pricing">
      <p class="price">$150.000</p>
      <p class="discount">20% OFF</p>
    </div>
  </div>
  <div class="product-card">
    <div class="product-image" (click)="goToDetail()">
      <img src="../../../assets/icon/rueda-removebg-preview.png" alt="Cubierta Bridgestone">
    </div>
    <h2 class="product-title">Cubierta Bridgestone 185 60 14</h2>
    <div class="product-pricing">
      <p class="price">$100.000</p>
      <p class="discount">25% OFF</p>
    </div>
  </div>
  <div class="product-card">
    <div class="product-image" (click)="goToDetail()">
      <img src="../../../assets/icon/rueda-removebg-preview.png" alt="Cubierta Michelin">
    </div>
    <h2 class="product-title">Cubierta Michelin 225 50 17</h2>
    <div class="product-pricing">
      <p class="price">$200.000</p>
      <p class="discount">15% OFF</p>
    </div>
  </div>
</div>




</ion-content>

<ion-footer>
  <ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" >
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="store">
        <ion-icon name="storefront-outline"></ion-icon>
        <ion-label>Tienda</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="notifications">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="more">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
        <ion-label>Más</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>

</ion-footer>
