<ion-header>
  <ion-toolbar class="custom-toolbar">
    <div class="search-cart-container">
      <div class="search-container">
        <ion-icon name="search" class="icon-search"></ion-icon>
        <ion-input placeholder="Buscar producto o servicio"></ion-input>
      </div>
      <ion-icon name="cart-outline" class="icon-cart" (click)="navigateTo('carrito')"></ion-icon>
    </div>
  <p class="address-text">Acá iría la dirección</p>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="service$ | async as service">
    <div class="service-header">
      <p class="service-title">{{ service.title }}</p>
    </div>

    <!-- Carrusel -->
    <div class="carousel-container">
      <div *ngFor="let image of service.images" class="carousel-slide">
        <img [src]="image" [alt]="service.title" class="slider-image" />
      </div>
    </div>

    <!-- Precio y detalles -->
    <div class="price-section">
      <div class="price-and-actions">
        <span class="price">{{ service.price | currency }}</span>
      </div>
      <p class="description">{{ service.description }}</p>
    </div>

    <!-- Botón de contacto por WhatsApp -->
    <div class="action-buttons">
      <ion-button class="whatsapp-button" [href]="'https://wa.me/' + service.telefono" target="_blank">
        <ion-icon name="logo-whatsapp"></ion-icon>
        Contactar por WhatsApp
      </ion-button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="fixed-toolbar">
    <!-- Tabs -->
    <div class="fixed-tabs">
      <!-- Tab: Inicio -->
      <div
        class="tab-item"
        [class.active]="currentRoute === 'home'"
        (click)="navigateTo('home')"
      >
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </div>

      <!-- Tab: Tienda -->
      <div
        class="tab-item"
        [class.active]="currentRoute === 'tienda'"
        (click)="navigateTo('tienda')"
      >
        <ion-icon name="storefront-outline"></ion-icon>
        <ion-label>Tienda</ion-label>
      </div>

      <!-- Tab: Notificaciones -->
      <div
        class="tab-item"
        [class.active]="currentRoute === 'notificaciones'"
        (click)="navigateTo('notificaciones')"
      >
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </div>

      <!-- Tab: Configuración -->
      <div
        class="tab-item"
        [class.active]="currentRoute === 'mi-cuenta'"
        (click)="navigateTo('mi-cuenta')"
      >
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Más</ion-label>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>

