<ion-header>
  <ion-toolbar>
    <ion-title>Estado de la compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Card principal -->
  <ion-card class="opinion-card">
    <ion-row>
      <ion-col size="4">
        <img src="../../../assets/icon/rueda-removebg-preview.png" alt="Producto" class="product-image" />
      </ion-col>
      <ion-col size="8">
        <h2 class="product-name">Cubierta Fate Sentiva 195 65 15</h2>
        <p class="product-status">Entregado</p>
        <p class="purchase-details">Hiciste la compra el 13 de julio<br />
          Llegó el 15 de julio
        </p>
      </ion-col>
    </ion-row>
    <ion-button expand="block" class="action-button" (click)="navigateTo('tienda')">Volver a comprar</ion-button>
  </ion-card>

  <!-- Ayuda con la compra -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ayuda con la compra</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item button (click)="navigateTo('opinion')">
        <ion-label>Opinar sobre el vendedor</ion-label>
      </ion-item>
      <ion-item button>
        <ion-label>Tengo un problema con mi compra</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- Mensajes con el vendedor -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mensajes con el vendedor</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item button>
        <ion-label>Ver mensajes con GOMERIA JOSE</ion-label>
      </ion-item>
      <ion-item button (click)="navigateTo('detalles-compra')">
        <ion-label>Ver detalles de la compra</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar class="fixed-toolbar">
    <!-- Tabs -->
    <div class="fixed-tabs">
      <!-- Tab: Inicio -->
      <div
        class="tab-item"
        [class.active]="currentRoute === 'home'"
        (click)="navigateTo('home')"
      >
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </div>

      <!-- Tab: Tienda -->
      <div
        class="tab-item"
        [class.active]="currentRoute === 'tienda'"
        (click)="navigateTo('tienda')"
      >
        <ion-icon name="storefront-outline"></ion-icon>
        <ion-label>Tienda</ion-label>
      </div>

      <!-- Tab: Notificaciones -->
      <div
        class="tab-item"
        [class.active]="currentRoute === 'notificaciones'"
        (click)="navigateTo('notificaciones')"
      >
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </div>

      <!-- Tab: Configuración -->
      <div
        class="tab-item"
        [class.active]="currentRoute === 'mi-cuenta'"
        (click)="navigateTo('mi-cuenta')"
      >
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Más</ion-label>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
