

<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Publicar</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-label class="title-label">
        Completa los datos para publicar tu producto
      </ion-label>
    </ion-item>
  </ion-list>

   <ion-list>
    <ion-item class="custom-item">
      <ion-label>Fotos de tu producto</ion-label>
      <ion-button slot="end" fill="outline" class="custom-button">Elegir</ion-button>
    </ion-item>
    <ion-item class="custom-item">
      <ion-label>Título de la publicación</ion-label>
      <ion-button slot="end" fill="outline" class="custom-button">Elegir</ion-button>
    </ion-item>
    <ion-item class="custom-item">
      <ion-label>Categoría de tu producto</ion-label>
      <ion-button slot="end" fill="outline" class="custom-button">Elegir</ion-button>
    </ion-item>
    <ion-item class="custom-item">
      <ion-label>Precio</ion-label>
      <ion-button slot="end" fill="outline" class="custom-button">Elegir</ion-button>
    </ion-item>
    <ion-item class="custom-item">
      <ion-label>Descripción del producto</ion-label>
      <ion-button slot="end" fill="outline" class="custom-button">Elegir</ion-button>
    </ion-item>
    <ion-item class="custom-item">
      <ion-label>Variantes</ion-label>
      <ion-button slot="end" fill="outline" class="custom-button">Elegir</ion-button>
    </ion-item>
    <ion-item class="custom-item">
      <ion-label>Stock</ion-label>
      <ion-button slot="end" fill="outline" class="custom-button">Elegir</ion-button>
    </ion-item>
  </ion-list>

  <div class="button-container">
    <ion-button expand="block" class="publish-button">Publicar</ion-button>
  </div>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar class="scrollable-toolbar">
    <div class="scroll-hint">
      <ion-icon name="arrow-forward-outline"></ion-icon>
      <span>Desliza para más opciones</span>
    </div>

    <div class="scrollable-tabs">
      <div class="tab-item">
        <ion-icon name="home-outline" (click)="navigateTo('home')"></ion-icon>
        <ion-label>Inicio</ion-label>
      </div>

      <div class="tab-item">
        <ion-icon name="storefront-outline" (click)="navigateTo('tienda')"></ion-icon>
        <ion-label>Tienda</ion-label>
      </div>

      <div class="tab-item">
        <ion-icon name="notifications-outline" (click)="navigateTo('notificaciones')"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </div>

      <div class="tab-item">
        <ion-icon name="person-outline" (click)="navigateTo('perfil')"></ion-icon>
        <ion-label>Perfil</ion-label>
      </div>

      <div class="tab-item">
        <ion-icon name="heart-outline" (click)="navigateTo('favoritos')"></ion-icon>
        <ion-label>Favoritos</ion-label>
      </div>

      <div class="tab-item">
        <ion-icon name="settings-outline" (click)="navigateTo('perfil')"></ion-icon>
        <ion-label>Configuración</ion-label>
      </div>

      <div class="tab-item">
        <ion-icon name="help-circle-outline" (click)="navigateTo('ayuda')"></ion-icon>
        <ion-label>Ayuda</ion-label>
      </div>
    </div>
  </ion-toolbar>
</ion-footer> -->
