<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles de la compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="purchase-card">
    <h2>13 de junio</h2>
    <div class="product-info">
      <div class="product-details">
        <p class="product-name">Productos</p>
      </div>
      <p class="purchase-details">$ 240.000</p>
    </div>
    <div class="product-info">
      <div class="product-details">
        <p class="product-name">Envíos</p>
      </div>
      <p class="purchase-details">$ 6.000</p>
    </div>
    <div class="product-info total">
      <div class="product-details">
        <p class="product-name">Total</p>
      </div>
      <p class="purchase-details">$ 246.000</p>
    </div>
  </div>

  <div class="payment-section">
    <h3>Detalles del pago</h3>
    <div class="purchase-card">
      <div class="payment-info">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Mastercard_2019_logo.svg"
          alt="Mastercard Logo"
          class="payment-logo"
        />
        <div class="payment-details">
          <p>1x $246.000</p>
          <p>Mastercard ********6890</p>
          <p>13 de junio</p>
          <p class="payment-status">Pago aprobado</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>



<ion-footer>
  <ion-toolbar class="fixed-toolbar">
    <!-- Tabs -->
    <div class="fixed-tabs">
      <!-- Tab: Inicio -->
      <div
        class="tab-item"
        [class.active]="currentRoute === 'home'"
        (click)="navigateTo('home')"
      >
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </div>

      <!-- Tab: Tienda -->
      <div
        class="tab-item"
        [class.active]="currentRoute === 'tienda'"
        (click)="navigateTo('tienda')"
      >
        <ion-icon name="storefront-outline"></ion-icon>
        <ion-label>Tienda</ion-label>
      </div>

      <!-- Tab: Notificaciones -->
      <div
        class="tab-item"
        [class.active]="currentRoute === 'notificaciones'"
        (click)="navigateTo('notificaciones')"
      >
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </div>

      <!-- Tab: Configuración -->
      <div
        class="tab-item"
        [class.active]="currentRoute === 'mi-cuenta'"
        (click)="navigateTo('mi-cuenta')"
      >
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Más</ion-label>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
