ion-content {
  --background: #f2f4f7; /* Fondo suave y claro */
}





.catalogo-card {
  border-radius: 15px; /* Bordes redondeados para las tarjetas */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para las tarjetas */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación para transformaciones y sombras */
  overflow: hidden;
  margin-bottom: 20px;
}

.catalogo-card:hover {
  transform: translateY(-5px); /* Efecto de elevación cuando se pasa el mouse */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Aumento de sombra al hacer hover */
}

.catalogo-card ion-card-header {
  background-color: #c77810; /* Color de fondo del encabezado */
  color: white; /* Título blanco */
  text-align: center;
  padding: 15px;
}

.catalogo-card ion-card-content {
  text-align: center;
  padding: 20px;
  background-color: #ffffff; /* Fondo blanco para el contenido */
  color: #333333; /* Color de texto */
}

.catalogo-card ion-icon {
  color: #c77810; /* Color del ícono */
  margin-bottom: 10px; /* Espaciado debajo del ícono */
}

.catalogo-card p {
  font-size: 1rem;
  color: #666666; /* Texto en gris claro */
}

.catalogo-card ion-card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.catalogo-card button {
  --background: #c77810; /* Fondo de los botones */
  --color: white; /* Color de texto de los botones */
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.catalogo-card button:hover {
  --background: #ffd700; /* Color de fondo amarillo al hacer hover */
}

.catalogo-card ion-card-content:hover .catalogo-icon {
  transform: scale(1.1); /* Aumenta el tamaño del ícono al hacer hover */
  transition: transform 0.3s ease;
}

.catalogo-icon {
  transition: transform 0.3s ease, color 0.3s ease;
  font-size: 40px; /* Tamaño del ícono */
}

.catalogo-card p {
  margin-top: 10px;
  font-size: 14px;
}

ion-grid {
  padding: 20px;
}




.header {

  top: 0;
  left: 0;
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  z-index: 1000; /* Asegura que esté por encima del resto del contenido */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #c77810; /* Azul de fondo */
  color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para un efecto flotante */

  .logo img {
    height: 50px;
  }

  .nav-menu {
    display: flex;
    gap: 20px;

    a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s;

      &:hover {
        color: #ffd700; // Amarillo al pasar el mouse
      }
    }
  }
}
