<header class="header">
  <div class="logo">
    <img src="../../assets/icon/logooo.png" alt="MACROMAQ Logo" />
  </div>
  <nav class="nav-menu">
    <a href="#">Inicio</a>
    
  </nav>



</header>

<br>

<ion-content>

  <!-- Tarjetas para elegir -->
  <ion-grid>
    <ion-row>
      <!-- Card para ir a Maquinarias -->
      <ion-col size="12" size-md="6">
        <ion-card class="catalogo-card" button (click)="navigateToMaquinarias()">
          <ion-card-header>
            <ion-card-title>Ir a Maquinarias</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="construct" size="large" class="catalogo-icon"></ion-icon>
            <p>Haz clic para ver las maquinarias disponibles</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Card para ir a Discos -->
      <ion-col size="12" size-md="6">
        <ion-card class="catalogo-card" button (click)="navigateToDiscos()">
          <ion-card-header>
            <ion-card-title>Ir a Discos de corte</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="disc" size="large" class="catalogo-icon"></ion-icon>
            <p>Haz clic para ver los discos disponibles</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
