<ion-header>
  <ion-toolbar class="custom-toolbar">
    <div class="search-cart-container">
      <div class="search-container">
        <ion-icon name="search" class="icon-search"></ion-icon>
        <ion-input placeholder="Buscar producto o servicio"></ion-input>
      </div>
      <ion-icon name="cart-outline" class="icon-cart" (click)="navigateTo('carrito')"></ion-icon>
    </div>
    <p class="address-text" (click)="navigateTo('login')" *ngIf="!isLoggedIn">Login de prueba</p>
    <p class="location-info" *ngIf="isLoggedIn">
      <ion-icon name="location-outline" style="margin-right: 8px;"></ion-icon>
      {{ location }}
    </p>
  </ion-toolbar>
</ion-header>




<ion-content>

<div class="carousel-container1">
  <div
    class="carousel-slide1"
    [style.transform]="'translateX(-' + currentSlide * 100 + '%)'"
  >
    <div class="slide1" *ngFor="let image of images">
      <img [src]="image" alt="Imagen del carrusel" />
    </div>
  </div>
</div>



  <!-- Botones en la parte inferior -->
  <div class="buttons-row">
    <a href="/elección">
  <div class="circle-button">
    <img src="../../assets/icon/vender.png" alt="Icono" />
    <p>Vender</p>
  </div>
</a>
    <div class="circle-button">
      <img src="../../assets/icon/750_750-a235.jpg" alt="Icono" />
      <p>Botón</p>
    </div>
    <div class="circle-button">
      <img src="../../assets/icon/750_750-a235.jpg" alt="Icono" />
      <p>Botón</p>
    </div>
    <div class="circle-button">
      <img src="../../assets/icon/750_750-a235.jpg" alt="Icono" />
      <p>Botón</p>
    </div>
    <div class="circle-button">
      <img src="../../assets/icon/750_750-a235.jpg" alt="Icono" />
      <p>Botón</p>
    </div>
  </div>

  <!-- <button (click)="logout()">Cerrar sesión</button> -->

  <!-- Nuevos banners -->
  <div class="banners-container" *ngIf="isLoggedIn">
    <div class="banner">
      <img
        src="../../assets/icon/nuevobien.jfif"
        alt="Banner 2"
        class="banner-image"
      />
    </div>
    <div class="banner">
      <img src="../../assets/icon/12.png" alt="Banner 2" class="banner-image" />
    </div>
  </div>

  <!-- banner deslogueado -->
  <div class="banners-container" *ngIf="!isLoggedIn">
    <div class="banner">
      <img
        src="../../assets/icon/nuevobien.jfif"
        alt="Banner 2"
        class="banner-image"
      />
    </div>
  </div>

  <!-- deslogueado -->


<div class="contenedor-principal">
  <div class="section-deslogueado" *ngIf="!isLoggedIn">
    <div class="item-deslogueado">
      <img
        src="../../assets/icon/registrar.jpeg"
        alt="Crea tu cuenta"
        class="image-deslogueado"
      />
      <p class="name-deslogueado">Crea tu cuenta</p>
    </div>
    <div class="item-deslogueado">
      <img
        src="../../assets/icon/ubi.jpeg"
        alt="Ingresar ubicación"
        class="image-deslogueado"
      />
      <p class="name-deslogueado">Ingresar ubicación</p>
    </div>
    <div class="item-deslogueado">
      <img
        src="../../assets/icon/carrito.jpeg"
        alt="Más vendidos"
        class="image-deslogueado"
      />
      <p class="name-deslogueado">Más vendidos</p>
    </div>
  </div>
</div>




  <!-- <div class="contenedor-principal">
    <div class="section-deslogueado" *ngIf="!isLoggedIn">
      <div class="item-deslogueado">
        <img
          src="../../assets/icon/registrar.jpeg"
          alt="Crea tu cuenta"
          class="image-deslogueado"
        />
        <p class="name-deslogueado">Crea tu cuenta</p>
      </div>
      <div class="item-deslogueado">
        <img
          src="../../assets/icon/ubi.jpeg"
          alt="Ingresar ubicación"
          class="image-deslogueado"
        />
        <p class="name-deslogueado">Ingresar ubicación</p>
      </div>
      <div class="item-deslogueado">
        <img
          src="../../assets/icon/carrito.jpeg"
          alt="Más vendidos"
          class="image-deslogueado"
        />
        <p class="name-deslogueado">Más vendidos</p>
      </div>
    </div>
  </div> -->

  <!-- Recomendados -->
  <div class="recommended-section" *ngIf="isLoggedIn">
    <h2 class="recommended-title">Recomendados</h2>
    <div class="recommended-items">
      <div class="recommended-item">
        <img
          src="../../assets/icon/rueda-removebg-preview.png"
          alt="Tire 1"
          class="recommended-image"
        />
        <p class="recommended-name">Cubierta Fate Sentiva 195 65 15</p>
        <p class="recommended-price">
          <span class="old-price">$150.000</span>
          <span class="new-price">$10.000</span>
          <span class="discount">30% OFF</span>
        </p>
      </div>
      <div class="recommended-item">
        <img
          src="../../assets/icon/rueda-removebg-preview.png"
          alt="Tire 2"
          class="recommended-image"
        />
        <p class="recommended-name">Cubierta Fate Sentiva 195 65 15</p>
        <p class="recommended-price">
          <span class="old-price">$150.000</span>
          <span class="new-price">$10.000</span>
          <span class="discount">30% OFF</span>
        </p>
      </div>
      <div class="recommended-item">
        <img
          src="../../assets/icon/rueda-removebg-preview.png"
          alt="Tire 3"
          class="recommended-image"
        />
        <p class="recommended-name">Cubierta Fate Sentiva 195 65 15</p>
        <p class="recommended-price">
          <span class="old-price">$150.000</span>
          <span class="new-price">$10.000</span>
          <span class="discount">30% OFF</span>
        </p>
      </div>
    </div>
  </div>

  <div class="div" *ngIf="isLoggedIn">
    <div class="subscription-card">
      <div class="card-header">Suscribite y empezá a vender hoy!</div>
      <ul class="card-details">
        <li>Publicá tus productos</li>
        <li>Alcanzá miles de clientes</li>
        <li>Hacé crecer tu negocio</li>
      </ul>
      <div class="card-footer">
        <button class="subscribe-button">
          Suscribirme
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </button>
      </div>
      <br />
    </div>
  </div>

  <!-- deslogueado <--->

  <div class="div" *ngIf="!isLoggedIn">
    <div class="subscription-card">
      <div class="card-header">¡Crea tu cuenta y mejora tu experiencia!</div>
      <div class="card-footer">
        <button class="subscribe-button">
          Crea tu cuenta
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </button>
      </div>
      <div class="card-footer">
        <button class="subscribe-button">
          ¿Ya tienes una cuenta? Ingresa
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </button>
      </div>
      <br />
    </div>
  </div>

  <div class="promociones" *ngIf="isLoggedIn">
    <!-- Promociones-->
    <div class="recommended-section">
      <h2 class="recommended-title">Promociones</h2>
      <div class="recommended-items">
        <div class="recommended-item">
          <img
            src="../../assets/icon/rueda-removebg-preview.png"
            alt="Tire 1"
            class="recommended-image"
          />
          <p class="recommended-name">Cubierta Fate Sentiva 195 65 15</p>
          <p class="recommended-price">
            <span class="old-price">$150.000</span>
            <span class="new-price">$10.000</span>
            <span class="discount">30% OFF</span>
          </p>
        </div>
        <div class="recommended-item">
          <img
            src="../../assets/icon/rueda-removebg-preview.png"
            alt="Tire 2"
            class="recommended-image"
          />
          <p class="recommended-name">Cubierta Fate Sentiva 195 65 15</p>
          <p class="recommended-price">
            <span class="old-price">$150.000</span>
            <span class="new-price">$10.000</span>
            <span class="discount">30% OFF</span>
          </p>
        </div>
        <div class="recommended-item">
          <img
            src="../../assets/icon/rueda-removebg-preview.png"
            alt="Tire 3"
            class="recommended-image"
          />
          <p class="recommended-name">Cubierta Fate Sentiva 195 65 15</p>
          <p class="recommended-price">
            <span class="old-price">$150.000</span>
            <span class="new-price">$10.000</span>
            <span class="discount">30% OFF</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Nuevos banners -->
  <div class="banners-container1" *ngIf="isLoggedIn">
    <div class="banner">
      <img src="../../assets/icon/11.png" alt="Banner 2" class="banner-image" />
    </div>
  </div>



  <!-- ----Seccion nueva---- -->
  <div class="categories-section" *ngIf="isLoggedIn">
    <h2 class="section-title">Categorías</h2>
    <div class="category-group">
      <div class="category">
        <h3 class="category-title">Productos</h3>
        <a href="#" class="view-all-link">Ver todas</a>
        <div class="category-items">
          <div class="category-item">
            <img
              src="../../assets/icon/istockphoto-95757561-612x612-removebg-preview.png"
              alt="Producto 1"
            />
          </div>
          <div class="category-item">
            <img
              src="../../assets/icon/celular-samsung-a04e-32-3gb-copper-ean-731835-removebg-preview.png"
              alt="Producto 2"
            />
          </div>
          <div class="category-item">
            <img
              src="../../assets/icon/image_1024-removebg-preview.png"
              alt="Producto 3"
            />
          </div>
        </div>
      </div>
      <div class="category">
        <h3 class="category-title">Servicios</h3>
        <a href="#" class="view-all-link">Ver todas</a>
        <div class="category-items">
          <div class="category-item">
            <img
              src="../../assets/icon/istockphoto-95757561-612x612-removebg-preview.png"
              alt="Servicio 1"
            />
          </div>
          <div class="category-item">
            <img
              src="../../assets/icon/celular-samsung-a04e-32-3gb-copper-ean-731835-removebg-preview.png"
              alt="Servicio 2"
            />
          </div>
          <div class="category-item">
            <img
              src="../../assets/icon/image_1024-removebg-preview.png"
              alt="Servicio 3"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="banners-container1" *ngIf="isLoggedIn">
    <div class="banner">
      <img src="../../assets/icon/9.png" alt="Banner 2" class="banner-image" />
    </div>
  </div>

 <div class="marcas-section" *ngIf="isLoggedIn">
  <div class="marcas-scroll-container">
    <div class="marcas-wrapper">
     <ion-grid>
  <ion-row>
    <ion-col size="12" class="marcas-carousel">
      <div class="marcas-carousel-inner">
        <ion-card class="marca-card" *ngFor="let marca of marcas$ | async">
          <img [src]="marca.imagen" alt="{{ marca.nombre }}" />
        </ion-card>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

    </div>
  </div>
</div>


 
  <footer class="custom-footer">
    <div class="footer-contact">
      <h3>Contáctanos</h3>
      <p>Email: <a href="mailto:info@servido.com.ar">infoservido.com.ar</a></p>
      <p>
        Email:
        <a href="mailto:contacto@servido.com.ar">contactoservido.com.ar</a>
      </p>
      <p>
        Email: <a href="mailto:cuentas@servido.com.ar">cuentasservido.com.ar</a>
      </p>
    </div>

    <div class="footer-logo-social">
      <img
        src="../../assets/icon/LOGO PNG (1).png"
        alt="Logo Servido"
        class="footer-logo"
      />
      <div class="social-icons">
        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
      </div>
    </div>

    <div class="footer-links">
      <div class="links-column">
        <a href="#">Mi cuenta</a>
        <a href="#">Historial</a>
        <a href="#">Favoritos</a>
        <a href="#">Categorías</a>
        <a href="#">Ayuda</a>
        <a href="#">Libro de quejas online</a>
      </div>
      <div class="links-column">
        <a href="#">Mis compras</a>
        <a href="#">Ofertas</a>
        <a href="#">Tiendas oficiales</a>
        <a href="#">Mercado Puntos</a>
        <a href="#">Vender</a>
      </div>
    </div>

    <div class="footer-quote">
      <p class="quote-text">
        "La clave para un día productivo es empezar con una mentalidad positiva"
      </p>
      <p class="quote-author">Jonathan CEO</p>
    </div>
  </footer>
</ion-content>

<ion-footer>
  <ion-toolbar class="fixed-toolbar">
    <!-- Tabs -->
    <div class="fixed-tabs">
      <!-- Tab: Inicio -->
      <div
        class="tab-item"
        [class.active]="currentRoute === 'home'"
        (click)="navigateTo('home')"
      >
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </div>

      <!-- Tab: Tienda -->
      <div
        class="tab-item"
        [class.active]="currentRoute === 'tienda'"
        (click)="navigateTo('tienda')"
      >
        <ion-icon name="storefront-outline"></ion-icon>
        <ion-label>Tienda</ion-label>
      </div>

      <!-- Tab: Notificaciones -->
      <div
        class="tab-item"
        [class.active]="currentRoute === 'notificaciones'"
        (click)="navigateTo('notificaciones')"
      >
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </div>

      <!-- Tab: Configuración -->
      <div
        class="tab-item"
        [class.active]="currentRoute === 'mi-cuenta'"
        (click)="navigateTo('mi-cuenta')"
      >
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Más</ion-label>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
