ion-content {
  --background: #f4f4f4;
}

.custom-toolbar {
  --background: #6a1b9a;
  color: #fff;
}

.perfil-container {
  padding: 16px;
}

.perfil-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.avatar-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-avatar {
  width: 100px;
  height: 100px;
}

.avatar-icon {
  font-size: 100px;
  color: #6c757d;
}

.edit-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  --background: #ffffff;
  --color: #6200ea;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.user-details {
  text-align: center;
  margin-top: 12px;
}

.user-details h2 {
  font-size: 1.5rem;
  margin: 0;
}

.user-details p {
  font-size: 1rem;
  color: #6c757d;
  margin: 0;
}

ion-list {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

ion-item {
  --background: #ffffff;
  --border-color: #e0e0e0;
  margin: 0;
  padding: 12px 16px;
}

ion-label h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #333333;
  margin: 0;
}

ion-label p {
  font-size: 0.875rem;
  color: #6c757d;
  margin: 0;
}

ion-icon {
  color: #6200ea;
}

.cancel-account {
  text-align: center;
  margin-top: 16px;
}

.cancel-account a {
  color: #6200ea;
  text-decoration: none;
  font-weight: 500;
}


// footer
.fixed-toolbar {
  --background: #fff;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.fixed-tabs {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
  width: 100%;
  height: 100%; /* Asegura que ocupe todo el footer */
}

.tab-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333; /* Texto e icono en gris oscuro */
  font-size: 12px;
  cursor: pointer;
  width: 100%; /* Ocupa el ancho completo */
  height: 100%; /* Hace que sean cuadrados */
  transition: all 0.3s ease;
  border-radius: 0; /* Elimina bordes redondeados para un diseño limpio */

  ion-icon {
    font-size: 24px;
    margin-bottom: 4px;
    color: #333; /* Iconos en gris oscuro */
    transition: color 0.3s ease;
  }

  ion-label {
    color: #333;
    transition: color 0.3s ease;
  }

  &:hover {
    background-color: rgba(74, 0, 142, 0.1); /* Fondo suave al pasar el cursor */
    transform: scale(1.05); /* Ligero aumento */
  }

  &.active {
    background-color: rgba(74, 0, 142, 0.5); /* Fondo violeta más evidente */
    color: #fff; /* Texto e iconos en blanco para contraste */
    padding: 10px;
    ion-icon {
      color: #fff; /* Icono en blanco */
    }
    ion-label {
      font-weight: bold;
    }

    /* Indicador visual */
    &:after {
      content: '';
      display: block;
      width: 100%; /* Indicador cubre todo el botón */
      height: 3px;
      background-color: #4a008e;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
